/*########## Defaults ********/
nav,
header,
footer{
    display:block;
}
 
body{
    line-height: 1;
    margin : 0;
}
.container {
    width:100%;
    padding-top: 4%;
    padding-bottom: 4%;

    
}
/************* custom styles **************************     */

.container{
    background-color:blue;
    background: -webkit-linear-gradient(cadetblue,lightblue);
    background:-o-linear-gradient(cadetblue,lightblue);    background:-noz-linear-gradient(cadetblue,lightblue);
   
}

h1.large{
    color:#fff;;
    text-transform: uppercase;
    font-size:54px;
    margin: 0;
    line-height:65px;
    
}
.row{
    width:100%;
    display:flex;
    flex-wrap: wrap;  /*toshiftbeneat*/
    align-items: center;
}

.row::after{
    display:table;
    clear: both;
    content: "";
    
}



.col-1{width:8.33%; }
.col-2{width:16.66%; }
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width:75%; }
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

form h2 {color:#fff;}

input[type="text"]{
    font-size: 20px;
    width:300px;
    min-width:100px;
    padding: 10px;
    border-radius: 7px;
}

div.leftsidecol-6{
    margin-left:10%; 
}

div.rightsidecol{
    margin-left: 8%;
  
    
}

.videocontainer video{
        width:100%;
        position:relative;
        margin:0;
    }





/********* Nav Bar ********/
 
nav { 
     width:100%;
    margin:0;
    
}
nav ul{
    background-color: #eee;
    overflow:hidden;
    margin:0 ;
    padding:0;
    
}
 ul.topnav  li{
    list-style:none;
    float:left;
    
}

  ul.topnav li.topnav-right{
    float:right;
}

ul.topnav li a{
    display: block;
    text-decoration:none;
    min-height:16px;
    text-align: center;
    padding:14px;
    text-transform: uppercase;
    color:#666;
    
}

ul.topnav li a:hover{
    background-color: #0000ff;
    color: #fff;
}

ul.topnav li.dropdownIcon {
    display: none;
}




/***************** MOBILE ********************/
@media screen and (max-width:660px){
    ul.topnav li:not(:nth-child(1)) {
        display:none;
    }


    ul.topnav li.dropdownIcon{
    display: block;
    float:right;
    }
       
  
    ul.topnav.responsive {
        position:relative;
    }
    
    ul.topnav.responsive li {
        display:inline;
        float:none;
    }
    ul.topnav.responsive li a{
        display:block;
        text-align:left;
    }
   ul.topnav li.dropdownIcon{
        position:absolute;
        top:0;
        right:0;
    }
    
    div.col-6{
        width:100%;
        margin:0; 
    }
    div.leftsidecol-6,div.rightsidecol{
        margin:15px;
    }
    
    .videocontainer video{
        width:100%;
        position:relative;
        margin:0;
    }
}

 










